@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

input {
  display: inline-block;
  width: 100%;
  padding: 17px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 116%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  border: 2px solid #dfdfe0;
  border-radius: 0px;
  outline: none;
  -webkit-transition-property: border, color, background-color;
  transition-property: border, color, background-color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
input:focus {
  border: 2px solid #1074b9;
}
input:user-invalid {
  border: 2px solid #fe4343;
}
input::-webkit-input-placeholder {
  color: #87878e;
}
input::-moz-placeholder {
  color: #87878e;
}
input:-ms-input-placeholder {
  color: #87878e;
}
input::-ms-input-placeholder {
  color: #87878e;
}
input::placeholder {
  color: #87878e;
}

.container {
  display: block;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1580px) {
  .container {
    max-width: 1200px;
    padding: 0 30px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1020px;
    padding: 0 20px;
  }
}
@media (max-width: 1020px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

.button {
  display: inline-block;
  min-height: 56px;
  padding: 16px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000000;
  border: 2px solid #000000;
  background-color: #ffffff;
  -webkit-transition-property: border, color, background-color;
  transition-property: border, color, background-color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.button_primary {
  color: #1074b9;
  border-color: #1074b9;
  background-color: #ffffff;
}
.button_primary:hover {
  color: #ffffff;
  background-color: #1074b9;
}
.button_secondary {
  color: #ffffff;
  border-color: #1074b9;
  background-color: #1074b9;
}
.button_secondary:hover {
  color: #ffffff;
  border-color: #1c1c20;
  background-color: #1c1c20;
}
.button_light {
  color: #1074b9;
  border-color: #e9f0ed;
  background-color: #e9f0ed;
}
.button_light:hover {
  color: #ffffff;
  border-color: #1074b9;
  background-color: #1074b9;
}
.button_wide {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.h1-base,
.h2-base,
.h3-base,
.h4-base,
.h5-base,
.h6-base {
  margin: 0;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

.h1-base {
  font-size: 74px;
}
@media (max-width: 1020px) {
  .h1-base {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .h1-base {
    font-size: 44px;
  }
}

.h2-base {
  font-size: 60px;
}
@media (max-width: 1020px) {
  .h2-base {
    font-size: 44px;
  }
}
@media (max-width: 576px) {
  .h2-base {
    font-size: 38px;
  }
}

.h3-base {
  font-size: 48px;
}
@media (max-width: 1020px) {
  .h3-base {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .h3-base {
    font-size: 32px;
  }
}

.h4-base {
  font-size: 38px;
}
@media (max-width: 1020px) {
  .h4-base {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .h4-base {
    font-size: 28px;
  }
}

.h5-base {
  font-size: 28px;
}
@media (max-width: 1020px) {
  .h5-base {
    font-size: 24px;
  }
}

.h6-base {
  font-size: 20px;
}
@media (max-width: 576px) {
  .h6-base {
    font-size: 24px;
  }
}

.h1-st,
.h2-st,
.h3-st,
.h4-st,
.h5-st {
  margin: 28px 0 22px 0;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

.h1-st {
  font-size: 44px;
}
@media (max-width: 1200px) {
  .h1-st {
    font-size: 38px;
  }
}

.h2-st {
  font-size: 34px;
}
@media (max-width: 1200px) {
  .h2-st {
    font-size: 30px;
  }
}

.h3-st {
  font-size: 26px;
}
@media (max-width: 1200px) {
  .h3-st {
    font-size: 24px;
  }
}

.h4-st {
  font-size: 20px;
}

.h5-st {
  font-size: 18px;
  margin: 20px 0 14px 0;
}

.zag-block {
  margin: 0 0 40px 0;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  font-size: 60px;
}
@media (max-width: 1200px) {
  .zag-block {
    margin: 0 0 32px 0;
    font-size: 44px;
  }
}
@media (max-width: 768px) {
  .zag-block {
    font-size: 38px;
  }
}

.zag-block-text {
  margin: 0 0 12px 0;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  font-size: 60px;
}
@media (max-width: 1200px) {
  .zag-block-text {
    margin: 0 0 10px 0;
    font-size: 44px;
  }
}
@media (max-width: 768px) {
  .zag-block-text {
    font-size: 38px;
  }
}

p.podzagolovok,
.podzagolovok {
  margin: 0 0 40px 0;
  font-size: 20px;
  line-height: 140%;
  color: #616161;
}
@media (max-width: 1200px) {
  p.podzagolovok,
  .podzagolovok {
    font-size: 16px;
  }
}

ul.st-list,
ol.st-list {
  margin: 0;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
ul.st-list > li,
ol.st-list > li {
  margin-bottom: 0.6em;
}
ul.st-list > li:last-child,
ol.st-list > li:last-child {
  margin-bottom: 0;
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

p.regular,
.regular {
  font-weight: 400;
}

p.medium,
.medium {
  font-weight: 500;
}

p.semibold,
.semibold {
  font-weight: 600;
}

p.st-regular,
.st-regular,
p.st-medium,
.st-medium,
p.st-semibold,
.st-semibold {
  font-size: 18px;
  line-height: 175%;
}
@media (max-width: 1020px) {
  p.st-regular,
  .st-regular,
  p.st-medium,
  .st-medium,
  p.st-semibold,
  .st-semibold {
    font-size: 16px;
  }
}

p.st-regular,
.st-regular {
  font-weight: 400;
}

p.st-medium,
.st-medium {
  font-weight: 500;
}

p.st-semibold,
.st-semibold {
  font-weight: 600;
}

.color-tekst-1,
.st-list.color-tekst-1 {
  color: #1c1c20;
}

.color-tekst-2,
.st-list.color-tekst-2 {
  color: #87878e;
}

.color-tekst-3,
.st-list.color-tekst-3 {
  color: #fefefe;
}

.color-tekst-4,
.st-list.color-tekst-4 {
  color: #e7e7e7;
}

img.st-image {
  display: block;
  width: 100%;
  height: auto;
}

.block_otstup_l {
  padding: 120px 0;
}
@media (max-width: 1200px) {
  .block_otstup_l {
    padding: 96px 0;
  }
}
@media (max-width: 768px) {
  .block_otstup_l {
    padding: 78px 0;
  }
}
.block_otstup_m {
  padding: 80px 0;
}
@media (max-width: 1200px) {
  .block_otstup_m {
    padding: 64px 0;
  }
}
@media (max-width: 768px) {
  .block_otstup_m {
    padding: 52px 0;
  }
}
.block_otstup_s {
  padding: 40px 0;
}
@media (max-width: 1200px) {
  .block_otstup_s {
    padding: 32px 0;
  }
}
@media (max-width: 768px) {
  .block_otstup_s {
    padding: 26px 0;
  }
}
.block_otstup_xs {
  padding: 20px 0;
}
@media (max-width: 1200px) {
  .block_otstup_xs {
    padding: 16px 0;
  }
}
@media (max-width: 768px) {
  .block_otstup_xs {
    padding: 13px 0;
  }
}
.block_otstup .block_otstup_xxs {
  padding: 8px 0;
}
@media (max-width: 1200px) {
  .block_otstup .block_otstup_xxs {
    padding: 7px 0;
  }
}
@media (max-width: 768px) {
  .block_otstup .block_otstup_xxs {
    padding: 6px 0;
  }
}

.ssylka {
  text-decoration: underline;
}

.ssylka-cvet {
  color: #1661ce;
}

.container-text-v-1 {
  max-width: 980px;
}

.citata {
  position: relative;
  min-height: 50px;
  padding-left: 74px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
@media (max-width: 1020px) {
  .citata {
    min-height: 40px;
    padding-left: 60px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .citata {
    padding-left: 45px;
  }
}
.citata::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background: url(../assets/base/right-quote.svg) center/cover no-repeat;
}
@media (max-width: 1200px) {
  .citata::before {
    width: 40px;
  }
}
@media (max-width: 768px) {
  .citata::before {
    width: 30px;
  }
}
.citata b {
  font-weight: 600;
}

.pryamougolnik {
  padding: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  background-color: #f5f5f5;
}
@media (max-width: 1200px) {
  .pryamougolnik {
    padding: 20px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .pryamougolnik {
    padding: 15px;
  }
}