.footer-v-2 {
  padding: 89px 0;
  background-color: #1c1c20;
}
@media (max-width: 1020px) {
  .footer-v-2 {
    padding: 51px 0 128px;
  }
}
.footer-v-2__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px 24px;
  margin: 0 0 84px;
}
@media (max-width: 1020px) {
  .footer-v-2__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 42px;
  }
}
.footer-v-2__top-nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 54px 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1120px;
          flex: 0 1 1120px;
}
@media (max-width: 1580px) {
  .footer-v-2__top-nav-desktop {
    gap: 54px 20px;
  }
}
@media (max-width: 1020px) {
  .footer-v-2__top-nav-desktop {
    display: none;
  }
}
.footer-v-2__top-nav-desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 16px);
          flex: 0 0 calc(33.3333333333% - 16px);
  gap: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1580px) {
  .footer-v-2__top-nav-desktop-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
            flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  }
}
.footer-v-2__top-nav-desktop-menu-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #fff;
}
.footer-v-2__top-nav-desktop-menu-title a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}
.footer-v-2__top-nav-desktop-menu-item {
  margin: 14px 0 0;
}
.footer-v-2__top-nav-desktop-menu-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #87878e;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
.footer-v-2__top-nav-desktop-menu-item-link:hover {
  color: #ffffff;
}
.footer-v-2__top-nav-mobile {
  display: none;
}
@media (max-width: 1020px) {
  .footer-v-2__top-nav-mobile {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer-v-2__top-nav-mobile-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.footer-v-2__top-nav-mobile-block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  padding: 16px 0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #fff;
}
.footer-v-2__top-nav-mobile-block-title::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24px;
  height: 24px;
  background: url(../assets/footer-v-2/chevron-down.svg) center/cover no-repeat;
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
}
.footer-v-2__top-nav-mobile-block.active .footer-v-2__top-nav-mobile-block-title::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.footer-v-2__top-nav-mobile-block-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-v-2__top-nav-mobile-block-list::after {
  content: "";
  display: block;
  height: 32px;
  width: 100%;
}
.footer-v-2__top-nav-mobile-block-list-item-link {
  display: inline-block;
  width: 100%;
  padding: 16px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #87878e;
}
.footer-v-2__top-nav-mobile-block-list-item-link_main {
  font-weight: 600;
  color: #ffffff;
}
.footer-v-2__top-nav-mobile-block.active .footer-v-2__top-nav-mobile-block-list {
  display: block;
}
.footer-v-2__top-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
}
@media (max-width: 1580px) {
  .footer-v-2__top-contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
  }
}
@media (max-width: 1200px) {
  .footer-v-2__top-contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 240px;
  }
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }
}
.footer-v-2__top-contacts-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0 54px;
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-logo {
    margin-bottom: 36px;
  }
}
.footer-v-2__top-contacts-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-logo-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer-v-2__top-contacts-logo-link-image {
  display: block;
  max-width: 100%;
  width: 213px;
  height: auto;
}
.footer-v-2__top-contacts-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15px;
  margin: 0 0 13px;
}
@media (max-width: 1580px) {
  .footer-v-2__top-contacts-phones {
    margin-bottom: 6px;
  }
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-phones {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer-v-2__top-contacts-phones-link {
  font-weight: 500;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-align: right;
  color: #fff;
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
}
@media (max-width: 1580px) {
  .footer-v-2__top-contacts-phones-link {
    font-size: 32px;
  }
}
@media (max-width: 1200px) {
  .footer-v-2__top-contacts-phones-link {
    font-size: 28px;
  }
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-phones-link {
    text-align: left;
  }
}
.footer-v-2__top-contacts-phones-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #1e674e;
}
.footer-v-2__top-contacts-time {
  margin: 13px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: right;
  color: #87878e;
}
@media (max-width: 1200px) {
  .footer-v-2__top-contacts-time {
    font-size: 18px;
  }
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-time {
    font-size: 20px;
    text-align: left;
  }
}
.footer-v-2__top-contacts-address {
  max-width: 360px;
  margin: 24px 0 0;
  text-align: right;
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-address {
    max-width: none;
    text-align: left;
  }
}
.footer-v-2__top-contacts-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #fff;
}
@media (max-width: 1200px) {
  .footer-v-2__top-contacts-address-link {
    font-size: 18px;
  }
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-address-link {
    font-size: 20px;
  }
}
.footer-v-2__top-contacts-address-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #1e674e;
}
.footer-v-2__top-contacts-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 21px 0 0;
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-email {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 24px;
  }
}
.footer-v-2__top-contacts-email-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: right;
  color: #fff;
}
@media (max-width: 1200px) {
  .footer-v-2__top-contacts-email-link {
    font-size: 18px;
  }
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-email-link {
    font-size: 20px;
    text-align: left;
  }
}
.footer-v-2__top-contacts-email-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #1e674e;
}
.footer-v-2__top-contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  margin: 35px 0 0;
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 27px;
  }
}
.footer-v-2__top-contacts-social-link {
  display: inline-block;
  width: 48px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  -webkit-transition-property: border, color, background-color;
  transition-property: border, color, background-color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 1020px) {
  .footer-v-2__top-contacts-social-link {
    width: 64px;
    background-size: 32px;
  }
}
.footer-v-2__top-contacts-social-link:hover {
  background-color: #2f2f2f;
}
.footer-v-2__top-contacts-social-link_tg {
  background-image: url(../assets/header-v-1/telegram.svg);
  background-color: #166ff5;
}
.footer-v-2__top-contacts-social-link_wts {
  background-image: url(../assets/header-v-1/whatsapp.svg);
  background-color: #06cc4d;
}
.footer-v-2__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media (max-width: 1020px) {
  .footer-v-2__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
  }
}
.footer-v-2__bottom-copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #87878e;
}
@media (max-width: 1020px) {
  .footer-v-2__bottom-copyright {
    font-size: 20px;
  }
}
@media (max-width: 1020px) {
  .footer-v-2__bottom-policy {
    margin: 27px 0 54px;
  }
}
.footer-v-2__bottom-policy-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  color: #87878e;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
@media (max-width: 1020px) {
  .footer-v-2__bottom-policy-link {
    font-size: 20px;
    text-align: left;
  }
}
.footer-v-2__bottom-policy-link:hover {
  color: #ffffff;
}
.footer-v-2__bottom-developer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer-v-2__bottom-developer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.footer-v-2__bottom-developer-link-logo, .footer-v-2__bottom-developer-link-text {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer-v-2__bottom-developer-link-logo {
  width: 126px;
}
.footer-v-2__bottom-developer-link-text {
  width: 109px;
  -webkit-transition: -webkit-filter ease-in-out 0.2s;
  transition: -webkit-filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s, -webkit-filter ease-in-out 0.2s;
}
.footer-v-2__bottom-developer-link:hover .footer-v-2__bottom-developer-link-text {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}