.karusel-izobr-v-3__gallery .swiper-button-prev, .karusel-izobr-v-3__gallery .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  width: 54px;
  height: 54px;
  aspect-ratio: 1/1;
  background-color: #1c1c20;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.karusel-izobr-v-3__gallery .swiper-button-prev:hover, .karusel-izobr-v-3__gallery .swiper-button-next:hover {
  background-color: #1e674e;
}
.karusel-izobr-v-3__gallery .swiper-button-prev::after, .karusel-izobr-v-3__gallery .swiper-button-next::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  background: url(../assets/karusel-izobr-v-3/arrow-left.svg) center/cover no-repeat;
}
.karusel-izobr-v-3__gallery .swiper-button-prev {
  left: 1px;
}
.karusel-izobr-v-3__gallery .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.karusel-izobr-v-3__gallery .swiper-button-next {
  right: 1px;
}
.karusel-izobr-v-3__gallery .swiper-button-disabled {
  opacity: 0;
}
.karusel-izobr-v-3__slide-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.karusel-izobr-v-3__slide-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.karusel-izobr-v-3__slide-text {
  padding: 20px 6px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #000;
}
@media (max-width: 576px) {
  .karusel-izobr-v-3__slide-text {
    padding: 20px 6px 0;
    font-size: 16px;
  }
}