@charset "UTF-8";
.kategorii-v-1__title {
  margin: 0 0 12px;
}
.kategorii-v-1__description {
  max-width: 1120px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #616161;
}
@media (max-width: 1580px) {
  .kategorii-v-1__description {
    max-width: 947px;
  }
}
@media (max-width: 1200px) {
  .kategorii-v-1__description {
    max-width: 814px;
    font-size: 20px;
  }
}
.kategorii-v-1__wrapper {
  display: block;
  margin: 40px 0 0;
}
.kategorii-v-1__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px 24px;
}
@media (max-width: 1580px) {
  .kategorii-v-1__main {
    gap: 48px 20px;
  }
}
@media (max-width: 1200px) {
  .kategorii-v-1__main {
    gap: 40px 20px;
  }
}
.kategorii-v-1__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 16px);
          flex: 0 0 calc(33.3333333333% - 16px);
}
@media (max-width: 1580px) {
  .kategorii-v-1__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
            flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  }
}
@media (max-width: 1020px) {
  .kategorii-v-1__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .kategorii-v-1__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.kategorii-v-1__card.hidden {
  display: none;
}
.kategorii-v-1__card-figure {
  margin: 0 0 24px;
  background-color: #d9d9d9;
}
.kategorii-v-1__card-figure-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.kategorii-v-1__card-figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform ease-out 0.32s;
  transition: -webkit-transform ease-out 0.32s;
  transition: transform ease-out 0.32s;
  transition: transform ease-out 0.32s, -webkit-transform ease-out 0.32s;
}
.kategorii-v-1__card-figure-image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.kategorii-v-1__card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
.kategorii-v-1__card-advantages {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 16px 0 0;
  padding: 0 0 0 21px;
  list-style-type: "— ";
}
@media (max-width: 1200px) {
  .kategorii-v-1__card-advantages {
    margin-bottom: 28px;
  }
}
.kategorii-v-1__card-advantages-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: #616161;
}
.kategorii-v-1__card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin: 32px 0 0;
}
@media (max-width: 1580px) {
  .kategorii-v-1__card-price {
    gap: 20px;
  }
}
.kategorii-v-1__card-price-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 12px);
          flex: 0 0 calc(50% - 12px);
}
@media (max-width: 1580px) {
  .kategorii-v-1__card-price-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}
.kategorii-v-1__card-price-item-name {
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #616161;
}
.kategorii-v-1__card-price-item-value {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1e674e;
}
@media (max-width: 1200px) {
  .kategorii-v-1__card-price-item-value {
    font-size: 20px;
  }
}
.kategorii-v-1__card-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin: 25px 0 0;
}
@media (max-width: 1580px) {
  .kategorii-v-1__card-controls {
    gap: 20px;
  }
}
.kategorii-v-1__card-controls-count, .kategorii-v-1__card-controls-more {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 12px);
          flex: 0 0 calc(50% - 12px);
  padding: 16px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1580px) {
  .kategorii-v-1__card-controls-count, .kategorii-v-1__card-controls-more {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}
.kategorii-v-1__card-controls-calculate {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.kategorii-v-1__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 0;
}
@media (max-width: 1200px) {
  .kategorii-v-1__more {
    margin-top: 50px;
  }
}
.kategorii-v-1__more.hidden {
  display: none;
}
.kategorii-v-1__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;
}
.kategorii-v-1__modal.active {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
}
.kategorii-v-1__modal-body {
  position: relative;
  max-height: calc(100dvh - 48px);
  max-width: calc(100dvw - 30px);
  width: 484px;
  padding: 43px 48px 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #fafafa;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  will-change: opacity;
}
@media (max-width: 768px) {
  .kategorii-v-1__modal-body {
    padding: 36px 24px;
  }
}
.kategorii-v-1__modal.active .kategorii-v-1__modal-body {
  opacity: 1;
}
.kategorii-v-1__modal-content {
  max-height: calc(100dvh - 68px);
  overflow: auto;
}
@media (max-width: 768px) {
  .kategorii-v-1__modal-content {
    max-height: calc(100dvh - 88px);
  }
}
.kategorii-v-1__modal-title {
  margin: 0 0 13px;
  font-weight: 500;
  font-size: 38px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
@media (max-width: 576px) {
  .kategorii-v-1__modal-title {
    margin-bottom: 11px;
    font-size: 32px;
  }
}
.kategorii-v-1__modal-description {
  margin: 0 0 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #87878e;
}
@media (max-width: 576px) {
  .kategorii-v-1__modal-description {
    margin-bottom: 30px;
  }
}
.kategorii-v-1__modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin: 0 0 19px;
}
@media (max-width: 576px) {
  .kategorii-v-1__modal-form {
    margin-bottom: 11px;
  }
}
.kategorii-v-1__modal-form-submit {
  margin: 24px 0 0;
}
@media (max-width: 576px) {
  .kategorii-v-1__modal-form-submit {
    margin: 0;
  }
}
.kategorii-v-1__modal-disclaimer {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: #b9b9b9;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.kategorii-v-1__modal-disclaimer a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #1c1c20;
}
.kategorii-v-1__modal-disclaimer a:hover {
  color: #1e674e;
}
.kategorii-v-1__modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
  width: 54px;
  padding: 0;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.kategorii-v-1__modal-close-button::before {
  content: "";
  display: block;
  width: 28px;
  aspect-ratio: 1/1;
  background: url(../assets/kategorii-v-1/close.svg) center/cover no-repeat;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}