.mod-okno-v-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;
}
.mod-okno-v-1.active {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
}
.mod-okno-v-1__body {
  position: relative;
  max-height: calc(100dvh - 48px);
  max-width: calc(100dvw - 30px);
  width: 484px;
  padding: 43px 48px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #fafafa;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  will-change: opacity;
}
@media (max-width: 768px) {
  .mod-okno-v-1__body {
    padding: 36px 24px;
  }
}
.mod-okno-v-1.active .mod-okno-v-1__body {
  opacity: 1;
}
.mod-okno-v-1__content {
  max-height: calc(100dvh - 156px);
  overflow: auto;
}
@media (max-width: 768px) {
  .mod-okno-v-1__content {
    max-height: calc(100dvh - 120px);
  }
}
.mod-okno-v-1__content.has-scroll {
  padding-right: 2px;
  margin-right: -12px;
}
.mod-okno-v-1__close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
  width: 54px;
  padding: 0;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.mod-okno-v-1__close-button::before {
  content: "";
  display: block;
  width: 28px;
  aspect-ratio: 1/1;
  background: url(../assets/mod-okno-v-1/close.svg) center/cover no-repeat;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}