.taby-v-1__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 1020px) {
  .taby-v-1__controls {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 15px;
    overflow: auto;
  }
}
.taby-v-1__controls-button {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 56px;
  padding: 16px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #1c1c20;
  border: 1px solid #87878e;
  background-color: #fefefe;
  -webkit-transition-property: color, border, background-color;
  transition-property: color, border, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 1020px) {
  .taby-v-1__controls-button {
    min-height: 54px;
    padding: 16px 15px;
    font-size: 14px;
  }
}
.taby-v-1__controls-button:hover {
  color: #fefefe;
  border: 1px solid #283b59;
  background-color: #283b59;
}
.taby-v-1__controls-button.active {
  color: #fefefe;
  border: 1px solid #283b59;
  background-color: #283b59;
}
.taby-v-1__tabs {
  margin: 30px 0 0;
}
@media (max-width: 1200px) {
  .taby-v-1__tabs {
    margin-top: 24px;
  }
}
.taby-v-1__tabs-item {
  display: none;
  max-width: 980px;
}
.taby-v-1__tabs-item.active {
  display: block;
}
.taby-v-1__tabs-item-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
@media (max-width: 1200px) {
  .taby-v-1__tabs-item-title {
    font-size: 20px;
  }
}
.taby-v-1__tabs-item-text {
  margin: 24px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
@media (max-width: 1200px) {
  .taby-v-1__tabs-item-text {
    margin-top: 18px;
    font-size: 16px;
  }
}