@import './b-mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

input {
  display: inline-block;
  width: 100%;
  padding: 17px 24px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 116%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  border: 2px solid #dfdfe0;
  border-radius: 0px;
  outline: none;
  transition-property: border, color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;

  &:focus {
    border: 2px solid #1074b9;
  }

  &:user-invalid {
    border: 2px solid #fe4343;
  }

  &::placeholder {
    color: #87878e;
  }
}

.container {
  display: block;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;

  @include desktoplg {
    max-width: 1200px;
    padding: 0 30px;
  }

  @include desktop {
    max-width: 1020px;
    padding: 0 20px;
  }

  @include laptop {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.button {
  display: inline-block;
  min-height: 56px;
  padding: 16px 32px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000000;
  border: 2px solid #000000;
  background-color: #ffffff;
  transition-property: border, color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;

  &_primary {
    color: #1074b9;
    border-color: #1074b9;
    background-color: #ffffff;

    &:hover {
      color: #ffffff;
      background-color: #1074b9;
    }
  }

  &_secondary {
    color: #ffffff;
    border-color: #1074b9;
    background-color: #1074b9;

    &:hover {
      color: #ffffff;
      border-color: #1c1c20;
      background-color: #1c1c20;
    }
  }

  &_light {
    color: #1074b9;
    border-color: #e9f0ed;
    background-color: #e9f0ed;

    &:hover {
      color: #ffffff;
      border-color: #1074b9;
      background-color: #1074b9;
    }
  }

  &_wide {
    width: 100%;
    box-sizing: border-box;
  }
}

.h1-base,
.h2-base,
.h3-base,
.h4-base,
.h5-base,
.h6-base {
  margin: 0;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

.h1-base {
  font-size: 74px;

  @include laptop {
    font-size: 60px;
  }

  @include mobile {
    font-size: 44px;
  }
}

.h2-base {
  font-size: 60px;

  @include laptop {
    font-size: 44px;
  }

  @include mobile {
    font-size: 38px;
  }
}

.h3-base {
  font-size: 48px;

  @include laptop {
    font-size: 38px;
  }

  @include mobile {
    font-size: 32px;
  }
}

.h4-base {
  font-size: 38px;

  @include laptop {
    font-size: 32px;
  }

  @include mobile {
    font-size: 28px;
  }
}

.h5-base {
  font-size: 28px;

  @include laptop {
    font-size: 24px;
  }
}

.h6-base {
  font-size: 20px;

  @include mobile {
    font-size: 24px;
  }
}

.h1-st,
.h2-st,
.h3-st,
.h4-st,
.h5-st {
  margin: 28px 0 22px 0;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

.h1-st {
  font-size: 44px;

  @include desktop {
    font-size: 38px;
  }
}

.h2-st {
  font-size: 34px;

  @include desktop {
    font-size: 30px;
  }
}

.h3-st {
  font-size: 26px;

  @include desktop {
    font-size: 24px;
  }
}

.h4-st {
  font-size: 20px;
}

.h5-st {
  font-size: 18px;
  margin: 20px 0 14px 0;
}

.zag-block {
  margin: 0 0 40px 0;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  font-size: 60px;

  @include desktop {
    margin: 0 0 32px 0;
    font-size: 44px;
  }

  @include tablet {
    font-size: 38px;
  }
}

.zag-block-text {
  margin: 0 0 12px 0;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  font-size: 60px;

  @include desktop {
    margin: 0 0 10px 0;
    font-size: 44px;
  }

  @include tablet {
    font-size: 38px;
  }
}

p.podzagolovok,
.podzagolovok {
  margin: 0 0 40px 0;
  font-size: 20px;
  line-height: 140%;
  color: #616161;

  @include desktop {
    font-size: 16px;
  }
}

ul.st-list,
ol.st-list {
  margin: 0;
  padding-left: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;

  & > li {
    margin-bottom: 0.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul.custom-list {
  margin: 0;
  padding-left: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
  list-style-type: '–  ';

  & > li {
    margin-bottom: 0.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

p.regular,
.regular {
  font-weight: 400;
}

p.medium,
.medium {
  font-weight: 500;
}

p.semibold,
.semibold {
  font-weight: 600;
}

p.st-regular,
.st-regular,
p.st-medium,
.st-medium,
p.st-semibold,
.st-semibold {
  font-size: 18px;
  line-height: 175%;

  @include laptop {
    font-size: 16px;
  }
}

p.st-regular,
.st-regular {
  font-weight: 400;
}

p.st-medium,
.st-medium {
  font-weight: 500;
}

p.st-semibold,
.st-semibold {
  font-weight: 600;
}

.color-tekst-1,
.st-list.color-tekst-1,
.custom-list.color-tekst-1 {
  color: #1c1c20;
}
.color-tekst-2,
.st-list.color-tekst-2,
.custom-list.color-tekst-2 {
  color: #87878e;
}
.color-tekst-3,
.st-list.color-tekst-3,
.custom-list.color-tekst-3 {
  color: #fefefe;
}
.color-tekst-4,
.st-list.color-tekst-4,
.custom-list.color-tekst-4 {
  color: #e7e7e7;
}

img.st-image {
  display: block;
  width: 100%;
  height: auto;
}

.block_otstup {
  &_l {
    padding: 120px 0;

    @include desktop {
      padding: 96px 0;
    }

    @include tablet {
      padding: 78px 0;
    }
  }

  &_m {
    padding: 80px 0;

    @include desktop {
      padding: 64px 0;
    }

    @include tablet {
      padding: 52px 0;
    }
  }

  &_s {
    padding: 40px 0;

    @include desktop {
      padding: 32px 0;
    }

    @include tablet {
      padding: 26px 0;
    }
  }

  &_xs {
    padding: 20px 0;

    @include desktop {
      padding: 16px 0;
    }

    @include tablet {
      padding: 13px 0;
    }
  }

  &_xxs {
    padding: 8px 0;

    @include desktop {
      padding: 7px 0;
    }

    @include tablet {
      padding: 6px 0;
    }
  }
}

.ssylka {
  text-decoration: underline;
}

.ssylka-cvet {
  color: #1661ce;
}

.container-text-v-1 {
  max-width: 980px;
}

.citata {
  position: relative;
  min-height: 50px;
  padding-left: 74px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #1c1c20;

  @include laptop {
    min-height: 40px;
    padding-left: 60px;
    font-size: 16px;
  }

  @include tablet {
    padding-left: 45px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    aspect-ratio: 1 / 1;
    background: url(../assets/base/right-quote.svg) center / cover no-repeat;

    @include desktop {
      width: 40px;
    }

    @include tablet {
      width: 30px;
    }
  }

  & b {
    font-weight: 600;
  }
}

.pryamougolnik {
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  background-color: #f5f5f5;

  @include desktop {
    padding: 20px;
    font-size: 16px;
  }

  @include tablet {
    padding: 15px;
  }
}
