@import './b-mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

input {
  display: inline-block;
  width: 100%;
  padding: 17px 24px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 116%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  border: 2px solid #dfdfe0;
  border-radius: 0px;
  outline: none;
  transition-property: border, color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;

  &:focus {
    border: 2px solid #1e674e;
  }

  &:user-invalid {
    border: 2px solid #fe4343;
  }

  &::placeholder {
    color: #87878e;
  }
}

.container {
  display: block;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;

  @include desktoplg {
    max-width: 1200px;
    padding: 0 30px;
  }

  @include desktop {
    max-width: 1020px;
    padding: 0 20px;
  }

  @include laptop {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.button {
  display: inline-block;
  min-height: 56px;
  padding: 16px 32px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000000;
  border: 2px solid #000000;
  background-color: #ffffff;
  transition-property: border, color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;

  &_primary {
    color: #1e674e;
    border-color: #1e674e;
    background-color: #ffffff;

    &:hover {
      color: #ffffff;
      background-color: #1e674e;
    }
  }

  &_secondary {
    color: #ffffff;
    border-color: #1e674e;
    background-color: #1e674e;

    &:hover {
      color: #ffffff;
      border-color: #1c1c20;
      background-color: #1c1c20;
    }
  }

  &_light {
    color: #1e674e;
    border-color: #e9f0ed;
    background-color: #e9f0ed;

    &:hover {
      color: #ffffff;
      border-color: #1e674e;
      background-color: #1e674e;
    }
  }

  &_wide {
    width: 100%;
    box-sizing: border-box;
  }
}

.h1-base,
.h2-base,
.h3-base,
.h4-base,
.h5-base,
.h6-base {
  margin: 0;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

.h1-base {
  font-size: 74px;

  @include laptop {
    font-size: 60px;
  }

  @include mobile {
    font-size: 44px;
  }
}

.h2-base {
  font-size: 60px;

  @include laptop {
    font-size: 44px;
  }

  @include mobile {
    font-size: 38px;
  }
}

.h3-base {
  font-size: 48px;

  @include laptop {
    font-size: 38px;
  }

  @include mobile {
    font-size: 32px;
  }
}

.h4-base {
  font-size: 38px;

  @include laptop {
    font-size: 32px;
  }

  @include mobile {
    font-size: 28px;
  }
}

.h5-base {
  font-size: 28px;

  @include laptop {
    font-size: 24px;
  }
}

.h6-base {
  font-size: 20px;

  @include mobile {
    font-size: 24px;
  }
}

.h1-st,
.h2-st,
.h3-st,
.h4-st {
  margin: 0;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

.h1-st {
  font-size: 44px;

  @include desktop {
    font-size: 38px;
  }
}

.h2-st {
  font-size: 34px;

  @include desktop {
    font-size: 30px;
  }
}

.h3-st {
  font-size: 26px;

  @include desktop {
    font-size: 24px;
  }
}

.h4-st {
  font-size: 20px;
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

p.regular {
  font-weight: 400;
}

p.medium {
  font-weight: 500;
}

p.semibold {
  font-weight: 600;
}

p.st-regular,
p.st-medium,
p.st-semibold {
  font-size: 18px;

  @include laptop {
    font-size: 16px;
  }
}

p.st-regular {
  font-weight: 400;
}

p.st-medium {
  font-weight: 500;
}

p.st-semibold {
  font-weight: 600;
}

.color-tekst-1 {
  color: #1c1c20;
}
.color-tekst-2 {
  color: #87878e;
}
.color-tekst-3 {
  color: #fefefe;
}
.color-tekst-4 {
  color: #e7e7e7;
}

img.st-image {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}

.block_otstup {
  &_l {
    padding: 270px 0;

    @include desktop {
      padding: 240px 0;
    }
  }

  &_m {
    padding: 180px 0;

    @include desktop {
      padding: 160px 0;
    }
  }

  &_s {
    padding: 90px 0;

    @include desktop {
      padding: 80px 0;
    }
  }

  &_xs {
    padding: 45px 0;

    @include desktop {
      padding: 40px 0;
    }
  }
}
