@import './b-mixins';

.karusel-izobr-v-6 {
  background-color: #2f2f2f;

  &__gallery {
    & .swiper {
      &-slide {
        width: auto;

        @include laptop {
          width: 100%;
        }
      }
    }

    &-image {
      display: block;
      max-width: 100%;
      max-height: 443px;
      height: auto;

      @include desktop {
        max-height: 340px;
      }

      @include laptop {
        max-height: none;
        width: 100%;
      }

      // @include laptop {
      //   max-height: 297px;
      // }

      // @include tablet {
      //   max-height: 244px;
      // }

      // @include mobile {
      //   max-height: 222px;
      // }
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 0px;
    transform: translateY(-50%);

    @include tablet {
      display: none;
    }

    &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      width: 70px;
      aspect-ratio: 1 / 1;
      background-color: #1c1c20;
      transform: translateY(-50%);
      transition-property: color;
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
      user-select: none;
      cursor: pointer;

      @include laptop {
        width: 54px;
      }

      &:hover {
        background-color: #1e674e;
      }

      &::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        filter: invert(100%);
        background: url(../assets/karusel-izobr-v-3/arrow-left.svg) center / cover no-repeat;
      }
    }

    &-prev {
      left: 0px;

      &::after {
        transform: rotate(180deg);
      }
    }

    &-next {
      right: 0px;
    }

    &-disabled {
      opacity: 0;
    }
  }
}
