@import './b-mixins';

.kategorii-v-8 {
  &__cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px 24px;

    @include desktoplg {
      gap: 30px 20px;
    }

    @include laptop {
      gap: 24px 20px;
    }

    @include tablet {
      gap: 24px 16px;
    }
  }

  &__card {
    flex: 0 0 calc(100% / 4 - 24px / 4 * 3);
    max-width: calc(100% / 4 - 24px / 4 * 3);

    @include desktoplg {
      flex: 0 0 calc(100% / 4 - 20px / 4 * 3);
      max-width: calc(100% / 4 - 20px / 4 * 3);
    }

    @include desktop {
      flex: 0 0 calc(100% / 3 - 20px / 3 * 2);
      max-width: calc(100% / 3 - 20px / 3 * 2);
    }

    @include tablet {
      flex: 0 0 calc(100% / 2 - 16px / 2);
      max-width: calc(100% / 2 - 16px / 2);
    }

    &-figure {
      margin: 0;

      &-image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-text {
      padding: 24px 6px 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #000;

      @include laptop {
        padding: 12px 6px 0;
        font-size: 16px;
      }
    }
  }
}
