@import './b-mixins';

body {
  scroll-behavior: smooth;
}

.knopka-naverh-v-1 {
  &__button {
    position: fixed;
    left: auto;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 2px solid #2f2f2f;
    border-radius: 54px;
    opacity: 1;
    background-color: #2f2f2f;
    transition-property: background-color, opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    will-change: background-color;
    pointer-events: all;

    @include desktop {
      width: 48px;
    }

    &_left {
      left: 20px;
      right: auto;
    }

    &:hover {
      background-color: #ffffff;
    }

    &::before {
      content: '';
      display: block;
      width: 36px;
      aspect-ratio: 1 / 1;
      background: url(../assets/knopka-naverh-v-1/arrow-up.svg) center / cover no-repeat;
      filter: brightness(0%) invert(100%);
      transition-property: filter;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
      will-change: filter;

      @include desktop {
        width: 32px;
      }
    }

    &:hover::before {
      filter: brightness(100%) invert(0%);
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
