@import './b-mixins';

.lid-forma-v-1 {
  &__wrapper {
    display: flex;
    background-color: #2f2f2f;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__figure {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 0 0 387px;
    margin: 0;

    @include desktoplg {
      flex: 0 0 314px;
    }

    @include desktop {
      flex: 0 0 271px;
    }

    @include laptop {
      display: none;
    }

    @include mobile {
      display: flex;
      flex: 1 1 100%;
      margin: 0;
      padding: 20px 23px 0;
      order: 0;
    }

    &-image {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__discount {
    flex: 1 1 auto;
    padding: 40px 48px 33px;
    padding-right: 0;
    box-sizing: border-box;

    @include desktoplg {
      padding: 40px 48px 29px;
      padding-right: 0;
    }

    @include desktop {
      padding: 33px 40px 26px;
      padding-right: 0;
    }

    @include laptop {
      flex: 1 1 100%;
      padding: 33px 40px 26px;
    }

    @include tablet {
      padding: 42px 24px 28px;
      order: 1;
    }

    &-title {
      margin: 0 0 9px;
      font-weight: 500;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #fff;

      @include desktoplg {
        margin-bottom: 21px;
        font-size: 28px;
      }

      @include desktop {
        margin-bottom: 19px;
        font-size: 24px;
      }

      @include tablet {
        margin-bottom: 12px;
        font-size: 28px;
      }
    }

    &-description {
      margin: 0 0 39px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #87878e;

      @include desktop {
        margin-bottom: 38px;
        font-size: 18px;
      }

      @include tablet {
        margin-bottom: 31px;
        font-size: 20px;
      }
    }

    &-form {
      display: flex;
      align-items: center;
      gap: 24px;
      margin: 0 0 20px;

      @include desktoplg {
        gap: 20px;
      }

      @include tablet {
        flex-wrap: wrap;
      }

      &-input,
      &-button {
        flex: 0 0 calc(100% / 3 - 24px / 3 * 2);
        display: inline-block;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.01em;
        outline: none;

        @include desktoplg {
          flex: 0 0 calc(100% / 3 - 20px / 3 * 2);
        }

        @include tablet {
          flex: 1 1 100%;
        }
      }

      &-input {
        padding: 18px 24px;
        color: #1c1c20;
        border: 2px solid #444444;
        background-color: #444444;

        &:focus {
          border: 2px solid #ffffff;

          background-color: #ffffff;
        }

        &:user-valid {
          border: 2px solid #ffffff;
          background-color: #ffffff;
        }

        &::placeholder {
          color: #87878e;
        }
      }

      &-button {
        padding: 18px 16px;
        text-transform: uppercase;
        text-align: center;
        color: #fefefe;
        border: none;
        background-color: #df4832;
        transition-property: border, color, background-color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover {
          color: #1c1c20;
          background-color: #fefefe;
        }
      }
    }

    &-disclaimer {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #87878e;

      & a {
        color: inherit;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        transition-property: border, color, background-color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;

        &:hover {
          color: #fefefe;
        }
      }
    }
  }
}
