@import './b-mixins';

.perv-ekr-v-2 {
  &__main {
    min-height: 870px;
    padding: 114px 0;
    box-sizing: border-box;
    background: url(../assets/perv-ekr-v-2/perv-ekr-v-2-bg.jpg) center / cover no-repeat;

    @include desktoplg {
      min-height: 661px;
      padding: 90px 0;
    }

    @include desktop {
      min-height: 562px;
      padding: 72px 0;
    }

    @include laptop {
      min-height: 455px;
      padding: 62px 0;
    }

    @include tablet {
      min-height: auto;
      padding: 74px 0 158px;
    }

    &-wrapper {
      max-width: 1246px;
      margin: 0 auto;
    }

    &-title {
      margin: 0 0 14px;
      font-weight: 600;
      font-size: 74px;
      line-height: 140%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #fff;

      @include desktoplg {
        font-size: 60px;
      }

      @include desktop {
        margin-bottom: 12px;
        font-size: 44px;
      }

      @include tablet {
        margin-bottom: 8px;
        font-size: 38px;
        text-align: left;
      }
    }

    &-description {
      margin: 0 0 46px;
      font-weight: 500;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #fff;

      @include desktoplg {
        margin-bottom: 28px;
        font-size: 28px;
      }

      @include desktop {
        margin-bottom: 36px;
        font-size: 24px;
      }

      @include tablet {
        margin-bottom: 24px;
        text-align: left;
      }
    }

    &-info {
      width: fit-content;
      margin: 0 auto;
      padding: 14px 44px;
      font-weight: 600;
      font-size: 38px;
      line-height: 140%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #fff;
      background-color: #1e674e;

      @include desktoplg {
        padding: 11px 36px;
        font-size: 32px;
      }

      @include desktop {
        padding: 9px 30px;
        font-size: 28px;
      }

      @include tablet {
        margin: 0;
        padding: 12px 22px;
        text-align: left;
      }
    }
  }

  &__details {
    position: relative;
    z-index: 10;
    margin: -32px 0 0;

    @include tablet {
      margin-top: -54px;
    }
  }

  &__discount {
    max-width: 1162px;
    margin: 0 auto 72px;
    padding: 40px 48px 35px;
    box-sizing: border-box;
    background-color: #1c1c20;

    @include desktoplg {
      max-width: 874px;
      padding: 40px 48px 29px;
    }

    @include desktop {
      max-width: 768px;
      margin-bottom: 60px;
      padding: 33px 40px 26px;
    }

    @include tablet {
      margin-bottom: 55px;
      padding: 42px 24px 28px;
    }

    &-title {
      margin: 0 0 7px;
      font-weight: 500;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #fff;

      @include desktoplg {
        margin-bottom: 21px;
        font-size: 28px;
      }

      @include desktop {
        margin-bottom: 19px;
        font-size: 24px;
      }

      @include tablet {
        margin-bottom: 12px;
        font-size: 28px;
      }
    }

    &-description {
      max-width: 887px;
      margin: 0 0 39px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #87878e;

      @include desktoplg {
        margin-bottom: 48px;
      }

      @include desktop {
        margin-bottom: 38px;
        font-size: 18px;
      }

      @include tablet {
        margin-bottom: 31px;
        font-size: 20px;
      }
    }

    &-form {
      display: flex;
      align-items: center;
      gap: 24px;
      margin: 0 0 25px;

      @include desktoplg {
        gap: 20px;
      }

      @include tablet {
        flex-wrap: wrap;
      }

      &-input,
      &-button {
        flex: 0 0 calc(100% / 3 - 24px / 3 * 2);
        display: inline-block;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.01em;
        outline: none;

        @include desktoplg {
          flex: 0 0 calc(100% / 3 - 20px / 3 * 2);
        }

        @include tablet {
          flex: 1 1 100%;
        }
      }

      &-input {
        min-height: 56px;
        padding: 16px 24px;
        color: #1c1c20;
        border: 2px solid #444444;
        background-color: #444444;

        &:focus {
          border: 2px solid #ffffff;

          background-color: #ffffff;
        }

        &:user-valid {
          border: 2px solid #ffffff;
          background-color: #ffffff;
        }

        &::placeholder {
          color: #87878e;
        }
      }

      &-button {
        padding: 18px 16px;
        text-transform: uppercase;
        text-align: center;
        color: #fefefe;
        border: none;
        transition-property: border, color, background-color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        cursor: pointer;
      }
    }

    &-disclaimer {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #87878e;

      & a {
        color: inherit;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        transition-property: border, color, background-color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;

        &:hover {
          color: #fefefe;
        }
      }
    }
  }

  &__advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 24px;

    @include desktoplg {
      gap: 20px;
    }

    @include tablet {
      gap: 40px 20px;
    }

    &-card {
      flex: 0 0 calc(100% / 4 - 24px / 4 * 3);

      @include desktoplg {
        flex: 0 0 calc(100% / 4 - 20px / 4 * 3);
      }

      @include laptop {
        flex: 0 0 calc(100% / 2 - 20px / 2);
      }

      @include tablet {
        flex: 1 1 100%;
      }

      &-icon {
        display: block;
        width: fit-content;
        margin: 0 0 13px;

        @include tablet {
          margin-bottom: 17px;
        }

        &-image {
          display: block;
          max-width: 100%;
          width: 64px;
          height: auto;
        }
      }

      &-title {
        margin: 0 0 13px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #1c1c20;

        @include laptop {
          max-width: 244px;
        }

        @include tablet {
          max-width: none;
          font-size: 20px;
        }
      }

      &-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #87878e;

        @include laptop {
          max-width: 244px;
        }

        @include tablet {
          max-width: none;
          font-size: 20px;
        }
      }
    }
  }
}
