@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
}

a,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
}

.page__container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 120px;
}
@media (max-width: 1440px) {
  .page__container {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .page__container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .page__container {
    padding: 0 10px;
  }
}